.wallet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
}

.address-card {
    border: 1px solid #407240;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 25px;
    width: 90vw;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
}
.address-card img {
    height: 300px;
    width: auto;
}
.address-card.mobile {
    display: flex;
    flex-direction: column;

    text-align: center;
    height: auto;
}
.address-card.mobile img {
    height: auto;
    max-width: 100%;
}
.address-card .address {
    display: flex;
    flex-direction: column;
}
.line-4 {
    color: #00A4E3;
}
.line-cc {
    color: #178C72;
}
.line-8 {
    color: #E6186C;
}

.phone-card {
    border: 1px solid #407240;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 25px;
    width: 90vw;
    margin: 20px auto 0 auto;
    text-align: left;
    box-sizing: border-box;
}
.phone-card.mobile {
    display: flex;
    flex-direction: column;

    text-align: center;
    height: auto;
}

h1 {
    margin-top: 20px;
    margin-bottom: 0;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
}
a {
    margin-top: 10px;
    margin-bottom: 10px;
}