.gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wall {
    text-align: left;
    width: 90vw;
    height: auto;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}
.wall.logo.mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wall.mobile {
    width: 100%;
}
.wall.background.mobile {
    justify-content: center;
    padding: 10px;
}
.description {
    margin: 0 auto 0 0;
    padding: 20px;
    box-sizing: border-box;
}
.description.mobile {
    margin: 0 auto;
}

.logo img {
    width: 300px;
    height: auto;
    border: 1px solid #99ff99;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 0 0 auto;
}
.logo img.mobile {
    width: 250px;
    height: auto;
    border: 1px solid #99ff99;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto auto;
}

.background .empty-square {
    width: 90vw;
    height: 300px;
    background: transparent;
    border: 1px solid #99ff99;
    border-radius: 10px;
    display: inline-block;

    padding: 20px 50px;
    color: #99ff99;
    text-align: right;
}
.background .empty-square.mobile {
    width: 250px;
    padding: 10px;
}