.panels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin-bottom: 3rem;
}
.panels.mobile {
    flex-direction: column;
}
.panel-left, .panel-center, .panel-right {
    flex: 1 1 0;
    padding: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.panel-left.mobile, .panel-center.mobile, .panel-right.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    height: 75vh;
}
.panel-left {
    background-color: #99ff99;
}
.panel-center {
    background-color: #ffddff;
}
.panel-right {
    background-color: #d9d9d9;
}
.panels h1, .panels h2, .panels h3, .panels p {
    margin: 0;
}
.panels a {
    margin: 2rem 0;
    font-size: 1.25rem;
}