.panels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin-bottom: 3rem;

    border-left: #407240 2px solid;
    border-right: #407240 2px solid;
    box-sizing: border-box;
}
.panels.mobile {
    flex-direction: column;
}
.panel-left, .panel-center, .panel-right {
    flex: 1 1 0;
    padding: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-left: #407240 2px solid;
    border-right: #407240 2px solid;
    border-bottom: #407240 4px solid;
    box-sizing: border-box;
}
.panel-left.mobile, .panel-center.mobile, .panel-right.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    height: 75vh;
}
.panel-left {
    background-color: rgba(0, 0, 0, 0.66);
}
.panel-center {
    background-color: rgba(0, 0, 0, 0.66);
}
.panel-right {
    background-color: rgba(0, 0, 0, 0.66);
}
.panels h1, .panels h2, .panels h3, .panels p {
    margin: 0;
}
.panels a {
    margin: 2rem 0;
    font-size: 1.25rem;
}