/*
 *  FONTS
 */
.header-light {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.header-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header-bold {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.script-kr {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.script-en {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-weight: 500;
  font-style: normal;
}
.body-kr {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.body-en {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: 200;
  font-style: normal;
}

/*
 *  HEADING SIZES
 */
h1 {
  font-size: 3rem;
  line-height: 1;
}
h2 {
  font-size: 2rem;
  line-height: 1;
}
h3 {
  font-size: 1.25rem;
  line-height: 1;
}
a {
  font: 500 1rem "IBM Plex Sans KR", sans-serif;
  color: #407240;
  text-decoration: underline;
  text-underline-offset: 4px;
  line-height: 1;
}
a:hover {
  font-weight: 700;
  cursor: pointer;
}

/*
 *  GRADIENTS
 */
.gradient-green {
  background: linear-gradient(to right, #407240, #99ff99);
}