<div class="sticky-board" [class.mobile]="screen.currentScreenSize() === 'xs'">
    @for (note of notes; track $index) {
        <div class="sticky-note">
            <h2 class="script-kr">{{ note.heading_ko }}</h2>
            @for (line of note.content_ko.split('+'); track $index) {
                <p class="script-kr">{{ line }}</p>
            }
        </div>
    }
</div>
<div class="sticky-board" [class.mobile]="screen.currentScreenSize() === 'xs'">
    @for (note of notes; track $index) {
        <div class="sticky-note">
            <h2 class="script-en">{{ note.heading_en }}</h2>
            @for (line of note.content_en.split('+'); track $index) {
                <p class="script-en">{{ line }}</p>
            }
        </div>
    }
</div>