.sticky-board {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.sticky-board.mobile {
    gap: 0;
}

.sticky-note {
    background-color: #fffa87;
    border: 2px solid #f0e68c;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    max-width: 400px;
}
.sticky-note h2 {
    margin-top: 0;
    font-size: 1.75em;
    color: #444444;
}
.sticky-note p {
    margin: 0;
    font-size: 1.33em;
    color: #444444;
}